<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/css/general.css">

    <!-- page image at top -->
    <link rel="icon" href="/img/favicon.ico" type="image/x-icon">

    <!-- External Fonts from Google -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">
    <!-- External Font Awesome Packages script gives us custom classes which provide the symbols for the buttons. -->
    <script src="https://kit.fontawesome.com/0bade4009c.js" crossorigin="anonymous"></script>
</head>

<body>
    <div id="topbar">
        <h1><a href="/">AI Learn</a></h1>
    </div>

    <div class="container">
        <div class="content">
            <h1>
                About
            </h1>
            <h2>Welcome to AI-Learn!</h2>
            
            <p>
                This website is a place to allow users to create and share courses using the power of AI.
            </p>
            <h2>The People</h2>
            <p>
                Right now, there's just 3 of us:
            </p>
            <ul>
                <li>
                    <a href="https://github.com/AutumnNippert">@AutumnNippert</a>
                </li>
                <li>
                    <a href="https://github.com/maidmagedev">@maidmagedev</a>
                </li>
                <li>
                    <a href="https://github.com/kurolunaa">@kurokunaa</a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>