:root {
    --white: #FFFFFF;
    --grey1: #EBEBEB;
    --grey2: #e4e4e4;
    --grey3: #C7C7C7;
    --black: #000000;
    --blue: #94EAFF;
}

#sidebar {
    position: relative;
}

#sidebar .module-button {
    background-color: var(--white);

    height: fit-content;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: 'Roboto', sans-serif;

    border: none;

    transition: background-color 200ms ease;

    z-index: 2;   
    font-size: 1.25rem;
    font-weight: 600;
}

#sidebar .module-button:hover {
    background-color: var(--grey2);
}

#sidebar .module-lessons {
    position: relative;
    overflow: hidden;
    transition: max-height 0.3s ease;

    font-size: 1.2rem;
    font-weight: 500;
}

.module-lessons[data-status="closed"] {
    max-height: 0;
}

.module-lessons[data-status="open"] {
    max-height: 500px;
}



.banner {
    margin: 0;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.banner button{
    background-color: var(--grey1);
    color: var(--black);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1rem 0;

    transition: 100ms ease-in-out;
}

.banner button:hover {
    background-color: var(--grey3);
}

#nextButton {
    right: 5vh;
}

#prevButton {
    left: 5vh;
}

#printButton {
    position: absolute;
    right: 5vh;
    height: 5vh;
    width: 5vh;
    border: none;
    transition: all 200ms ease-in-out;
    background-color: var(--grey1);
}

#printButton:hover {
    background-color: var(--grey3);
}


.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}