:root {
    --white: #FFFFFF;
    --grey1: #EBEBEB;
    --grey2: #e4e4e4;
    --grey3: #C7C7C7;
    --black: #000000;
    --blue: #94EAFF;
}

#sidebar .module-button {
    font-size: 1.25rem;
    font-weight: 600;
}

#sidebar .module-lessons {
    font-size: 1.2rem;
    font-weight: 500;
}

.banner {
    margin: 0;
    padding: 1rem;
    align-items: center;
    justify-content: center;
    background-position: center;
    background-size: cover;
}

.banner button{
    background-color: var(--grey1);
    color: var(--black);
    border: none;
    border-radius: 5px;
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    font-weight: 600;
    margin: 1rem 0;

    transition: 100ms ease-in-out;
}

.banner button:hover {
    background-color: var(--grey3);
}

#nextButton {
    right: 5vh;
}

#prevButton {
    left: 5vh;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

/* #content {
    width: 50%;
    margin: 0;
    padding: 0;
    border-radius: 10%;
    background-color: var(--grey1);
    opacity: 0.8;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#content *{
    opacity: 1;
} */