:root {
    --white: #FFFFFF;
    --grey1: #EBEBEB;
    --grey2: #e4e4e4;
    --grey3: #C7C7C7;
    --black: #000000;
    --blue: #94EAFF;
}

#sidebar .module-button {
    font-size: 1.25rem;
    font-weight: 600;
}

#sidebar .module-lessons {
    font-size: 1.2rem;
    font-weight: 500;
}

#table_of_contents {
    background-color: var(--grey1);
    width: 100%;
    padding-top: 3vh;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

#table_of_contents h3 {
    background-color: var(--grey2);
    width: 100%;
    padding: 1vh;
    margin: 0;
    font-size: 1.25rem;
    font-weight: 600;
    cursor: pointer;
}

#table_of_contents h4 {
    background-color: var(--grey3);
    width: 100%;
    padding: 1vh;
    margin: 0;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
}