:root {
    --white: #FFFFFF;
    --grey1: #EBEBEB;
    --grey2: #e4e4e4;
    --grey3: #C7C7C7;
    --black: #000000;
    --blue: #94EAFF;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /* overflow-y: hidden; */
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

#topbar {
    position: sticky;
    background-color: var(--grey1);
    width: 100%;
    height: 5vh;

    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
}

#topbar h1 {
    color: var(--black);
    position: absolute;
    top: 0.1vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#topbar a {
    text-decoration: none;
    color: var(--black);
}

#topbar button {
    position: absolute;
    left: 1vh;
    height: 5vh;
    border: none;
    transition: all 100ms ease;
    background-color: var(--grey1);
    cursor: pointer;
}

#sidebar {
    position: fixed;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--white);
    left: 0vh;
    top: 5vh;
    width: 300px;
    transform: translateX(-105%);
    transition: transform 600ms ease;
    z-index: 1;
    max-height: calc(100vh - 5vh);
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar[data-status="open"] {
    transform: translateX(0%);
}

#sidebar[data-status="closed"] {
    visibility: hidden;
}

#sidebar::after {
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 3px;
    height: 100%;
    background-color: var(--black);
}

#sidebar button {
    background-color: var(--white);

    height: fit-content;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: 'Roboto', sans-serif;

    border: none;

    transition: background-color 200ms ease;
}

#sidebar button:hover {
    background-color: var(--grey2);
}

#sidebar button[data-selected="true"] {
    background-color: var(--blue);
}

#content {
    margin-top: 6vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5vh;
    padding-top: 0vh;
}

#content h2 {
    margin-top: 0;
    text-align: center;
}

#addCourseButton {
    position: absolute;
    right: 2.5vh;
    width: 18vh;
    height: 4vh;

    background-color: var(--grey2);
    border: none;

    font-family: 'Roboto', sans-serif;
    font-size: larger;
    font-weight: 600;

    cursor: pointer;

    transition: background-color 0.2s ease-in-out;
}

#addCourseButton:hover {
    background-color: var(--grey3);
}

#courseItems {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;

    width: 100%;
    height: 800px;
    margin: 0 auto;
    gap: 40px;
}

.courseElement {
    position: relative;
    background-color: var(--grey2);
    width: 250px;
    height: 350px;
    text-align: center;
    cursor: pointer;
}

@media (max-width: 900px) {
    #courseItems {
        /* flex-direction: column; */
        align-items: center;
    }
}

.courseElement h1 {
    top: 0;
    margin-top: 0;
    background-color: var(--grey2);
    border-top: 5px solid var(--grey3);
    border-bottom: 5px solid var(--grey3);
    padding-top: 2px;
    padding-bottom: 2px;
    height: 80px;

    display: flex;
    justify-content: center;
    align-items: center;
}

.courseElementImg {
    height: 100px;
    width: 100%;
    position: relative;
    overflow: hidden;

}

.courseElementImg img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    object-fit: cover;
}

.container {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
}