:root {
    --white: #FFFFFF;
    --grey1: #EBEBEB;
    --grey2: #e4e4e4;
    --grey3: #C7C7C7;
    --black: #000000;
    --blue: #94EAFF;
}

html {
    width: 100%;
    height: 100%;
    font-family: 'Roboto', sans-serif;
    /* overflow-y: hidden; */
}

body {
    margin: 0;
}

button {
    cursor: pointer;
}

#topbar {
    position: sticky;
    background-color: var(--grey1);
    width: 100%;
    height: 5vh;

    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: center;
    margin-top: 0;
    align-items: center;
}

#topbar h1 {
    color: var(--black);
    position: absolute;
    top: 0.1vh;
    left: 50%;
    transform: translate(-50%, -50%);
}

#topbar a {
    text-decoration: none;
    color: var(--black);
}

#sidebarButton {
    position: absolute;
    left: 1vh;
    height: 5vh;
    border: none;
    transition: all 100ms ease;
    background-color: var(--grey1);
    cursor: pointer;
}

#sidebar {
    position: fixed;
    display: flex;
    height: 100%;
    flex-direction: column;
    background-color: var(--white);
    left: 0vh;
    top: 5vh;
    width: 300px;
    transform: translateX(-105%);
    transition: transform 600ms ease;
    z-index: 1;
    max-height: calc(100vh - 5vh);
    overflow-y: auto;
    overflow-x: hidden;
}

#sidebar[data-status="open"] {
    transform: translateX(0%);
}

#sidebar[data-status="closed"] {
    visibility: hidden;
}

#sidebar::after {
    z-index: 5;
    content: '';
    position: absolute;
    top: 0;
    right: -2px;
    width: 3px;
    height: 100%;
    background-color: var(--black);
}

.sidebarInner {
    background-color: var(--white);

    height: fit-content;
    width: 100%;
    padding-top: 1vh;
    padding-bottom: 1vh;
    font-family: 'Roboto', sans-serif;

    border: none;

    transition: background-color 200ms ease;
}

.sidebarInner:hover {
    background-color: var(--grey2);
}

.sidebarInner[data-selected="true"] {
    background-color: var(--blue);
}

#content {
    margin-top: 6vh;
    overflow-y: auto;
    overflow-x: hidden;
    padding-left: 20%;
    padding-right: 20%;
    padding-bottom: 5vh;
    padding-top: 0vh;
}

#content h2 {
    margin-top: 0;
    text-align: center;
}

.container {
    display: grid;
    margin: 0;
    padding: 0;
    grid-template-columns: 1fr;
}

.content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}


/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden;
    /* Hidden by default. Visible on click */
    min-width: 250px;
    /* Set a default minimum width */
    margin-left: -125px;
    /* Divide value of min-width by 2 */
    background-color: #333;
    /* Black background color */
    color: #fff;
    /* White text color */
    text-align: center;
    /* Centered text */
    border-radius: 2px;
    /* Rounded borders */
    padding: 16px;
    /* Padding */
    position: fixed;
    /* Sit on top of the screen */
    z-index: 1;
    /* Add a z-index if needed */
    left: 50%;
    /* Center the snackbar */
    bottom: 30px;
    /* 30px from the bottom */
}

/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible;
    /* Show the snackbar */
    /* Add animation: Take 0.5 seconds to fade in and out the snackbar.
    However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@keyframes fadein {
    from {
        bottom: 0;
        opacity: 0;
    }

    to {
        bottom: 30px;
        opacity: 1;
    }
}

@-webkit-keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}

@keyframes fadeout {
    from {
        bottom: 30px;
        opacity: 1;
    }

    to {
        bottom: 0;
        opacity: 0;
    }
}